.product {
    width: 200px;
}

.product__name {
    font-size: medium;
    color: rgb(172, 59, 59);
}

.product__category {
    font-size: small;
}

.product__cost {
    font-size: large;
}

.product__opacity:hover {
    opacity: 0.5;
}