.shop {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.shop__header {
    width: 100%;
    border-bottom: 1px solid black;
    height: 10vh;
}

.shop__explorer {
    flex-grow: 1;
    border-right: 1px solid black;
    max-width: 150px;
    min-width: 150px;
}

.shop__content {
    flex-grow: 5;
    padding: 10px;
}

.shop__main {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 90vh;
}