.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header .logo {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}